<footer class="footer">
  <div class="row full-width">
    <div class="small-12 medium-3 large-4 columns">
      <i class="fi-trees"></i>
      <p>Parents / caregivers constantly need to find activities for their kids. Many class organizers want kids to sign up for a long time. Baby Pass, like ClassPass, will allow parents to sample a wider array of classes, without having to commit, for flat rate each month.</p>
    </div>
    <div class="small-12 medium-3 large-4 columns">
      <i class="fi-foot"></i>
      <p>This is a two-sided marketplace - like a newspaper (advertisers / subscribers) or a credit card (vendors / consumers(card holders)). Baby Pass will operate a subscription business model.</p>
    </div>
    <div class="small-6 medium-3 large-2 columns">
      <h4 class="this is a BIG FAT TEST">BabyPass</h4>
      <ul class="footer-links">
        <li><a href="#">What It Is</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">FAQ's</a></li>
      <ul>
    </div>
    <div class="small-6 medium-3 large-2 columns">
      <h4>Connect</h4>
      <ul class="footer-links">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Instagram</a></li>
      <ul>
    </div>
  </div>
</footer>