<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Activities</title>
</head>
<body>
  <h2>Activities</h2>
  <div>
    <ul>
      <container class='act-cont'>
        <container class='img'>
          <div>
            <img src="baby-yoga.jpg">
          </div>
        </container>
        <!-- container above and below as in-line block -->
        <container class='ActivityInfo'>
          <div>
            <div class="">
                <li>Activity Title</li>
                <li>Activity Description</li>
                <li>Activity Address</li>
              </ul>
            </div>
          </div>
        </container>
      </container>
    </ul>
  </div>
</body>
</html>