<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Babypass</title>
    <% include ./partials/header %>
</head>
  <body>
    <header>
      <% include ./partials/navigation %>
    </header>

  <h1>Welcome to Babypass</h1>

  <div class="activity-feed-wrapper"></div>
  <div id="map-canvas"></div>
  <ul class="small-block-grid-2 medium-block-grid-6 large-block-grid-8">
      <li><img src="images/activity1.jpg"></li>
      <li><img src="images/activity14.jpg"></li>
      <li><img src="images/activity15.jpg"></li>
      <li><img src="images/activity16.jpg"></li>
      <li><img src="images/activity17.jpg"></li>
      <li><img src="images/activity18.jpg"></li>
      <li><img src="images/activity19.jpg"></li>
      <li><img src="images/activity20.jpeg"></li>
    
  </ul>
    <% include ./partials/footer %>
  </body>
</html>