<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Babypass</title>
    <% include ./partials/header %>
</head>
  <body>
    <header>
      <% include ./partials/navigation %>
    </header>

    <h1>Welcome to Babypass</h1>

    <div id="map-canvas"></div>

    
    <ul id="imgset" class="activity-feed-wrapper"></ul>
    <!-- following line to ensure partial row of amages dont overlap footer -->
    <div class="row"></div>


    <% include ./partials/footer %>
  </body>
</html>