<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Babypass</title>
    <% include ./partials/header %>
</head>
  <body>
    <header>
      <% include ./partials/navigation %>
    </header>

  <h1>Welcome to Babypass</h1>
  <div class="activity-feed-wrapper"></div>
  <div id="map-canvas"></div>

  <% include ./partials/footer %>
</body>

<script type="text/javascript">
window.onload = function() {
    if (window.jQuery) {  
        // jQuery is loaded  
        alert("Yeah!");
    } else {
        // jQuery is not loaded
        alert("Doesn't Work");
    }
} 
</script>

</html>