<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Babypass</title>
    <% include ./partials/header %>
</head>
  <body id="homepage-body">
    <header>
      <% include ./partials/navigation_session %>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    </header>
  

  <!-- Top image is in this section -->
      <div class="hero-image">
        <div class="headline">
          <div class="row">
            <div class="large-6 columns">
            <div id="headline-font">A single pass, access to hundreds of classes.</div>
                <p class="lead">BabyPass allows will allow parents to sample a wider array of classes, without having to commit, for flat rate each month.</p>
                <p class="lead">Check out all the great things we have.</p>
                <p class="lead">
            <a class="btn-dl rnd" href="/signup/customer">Sign Up</a>
            <a class="btn-dl rnd" href="/activitylist">View Activities</a>
          </p>
      </div>
      </div>

      <div class="large-6 columns">
        <div class="device right"></div>
      </div>
    </div>
  </div>
<!-- End Headline -->

<!-- Map content is in this section -->

<div class="row">
  <div class="small-0 large-0 columns"></div>
  <div class="small-10 large-10 columns"><div id="map-canvas"></div></div>
  <div class="small-2 large-2 columns"></div>
</div>
  
    <% include ./partials/footer %>
  </body>
</html>