<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Babypass</title>
    <% include ./partials/header %>
</head>
  <body id="homepage-body">
    <header>
      <% include ./partials/navigation_session %>
    </header>
  

  <!-- Top image is in this section -->
      <div class="hero-image">
        <div class="row">
          <div class="large-12 columns intro-text">
            <p>Kid Pass... a description and button on this section.
            This image also needs to be aligned vertically and probably less depressing.... however it's good enough for now.</p> 
          </div>
        </div>
      </div>

<!-- Map content is in this section -->
  <div class="row">
      <div class="small-1 columns"></div>
      <div class="small-10 columns">
        <div id="map-canvas"></div>
      </div>
      <div class="small-1 columns"></div>
  </div>


    <ul id="imgset" class="activity-feed-wrapper"></ul>
    <!-- following line to ensure partial row of amages dont overlap footer -->
    <div class="row"></div>


    <% include ./partials/footer %>
  </body>
</html>