<!doctype html>
<html>
    <head>
        <title>Node Authentication</title>
            <% include ./partials/header %>
    </head>
<body>
    <header>
      <% include ./partials/navigation_session %>
    </header>
    <div class="container">
        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="well">
                    <h3><span class="fa fa-user"></span> Local</h3>
                        <p>
                            <strong>name</strong>: <%= user.local.name %><br>
                            <strong>email</strong>: <%= user.local.email %><br>
                        </p>
                </div>
            </div>
        </div>
    </div>

    <div class="class-booked">
        Class booked
    </div>
    <a href="#" class="hollow button">Hello <%= user.local.name %></a>
    <% include ./partials/footer %>
</body>
</html>